.cards {
  display: flex;
  width: 1240px;
  margin: 0 auto;
  /* height: 300px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 56px;
  margin-top: 50px;
  border-bottom: 1px solid grey;
}

.film_info {
  margin-top: -8px;
  width: 100px;
  display: flex;
  color: #d9d7e0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.card img {
  width: 153.143px;
  border-radius: 11px;
  height: 220px;
}

.link {
  text-decoration: none;
}