.cards {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.film_info {
  width: 153.143px;
  padding-right: 24px;
  height: 270px;
  display: flex;
  color: white;
  margin-top: 30px;
  margin-left: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
}

.card img {
  width: 153.143px;
  padding-right: 24px;
}
