
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  

  .error-message {
    color: #ea003d;
    margin-bottom: 5px;
    font-size: 14px;
  }
  

  input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
    font-size: 16px;
    border: none;
    outline: none;
  }
  

  button {
    padding: 10px 20px;
    background-color: #ea003d;
    color: rgb(19, 11, 11);
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;

  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button:hover:enabled {
    background-color: #f34271;
  }
  

  p {
    margin-top: 10px;
    font-size: 14px;
  }
  
  p a {
    text-decoration: none;
    color: #ea003d;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  