@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");

header {
  width: 1216px;
  /* height: 100px; */
  font-family: "League Gothic", sans-serif;
  margin: 0 auto;
  font-size: 15px;
}

.header_block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img_block {
  margin-right: -80px;
}

.img_block img {
  height: 48px;
  width: 66px;
}

.categories {
  list-style: none;
  display: flex;
}

.input_block {
  position: relative;
}

.input_block input {
  cursor: pointer;
  margin-right: 10px;
  width: 300px;
  height: 34px;
  line-height: 34px;
  padding: 0 40px 0 10px;
  border-radius: 9px;
  background-color: #4d495a;
  /* color: #1f1b2e; */
  color: #fff;
  border: 0;
  outline: none;
}

.input_block input:hover {
  background-color: #5f5b6c;
}

.login_button {
  display: flex;
  align-items: center;
}

.icon_button {
  margin-right: 7px;
  width: 20px;
  margin-left: -8px;
  height: 20px;
  background-color: #312b45;
  border-radius: 6px;
  box-sizing: content-box;
  padding: 3px;
  transition: background-color 0.4s;
}

.login_button button {
  border: none;
  background-color: #1f1b2e;
  display: flex;
  width: 95px;
  height: 40px;
  border-radius: 8px;
  border-width: 1px;
  height: 40px;
  padding: 9px 15px;
  align-items: center;
  transition: background-color 0.2s ease;
}

.login_button span {
  color: #fff;
}

.login_button button:hover {
  background-color: #242131;
}

.film_category {
  width: 1169px;
  min-height: 71px;
  padding: 19px 0px 10px 47px;
  position: absolute;
  z-index: 10;
}

.film_category span {
  color: #fff;
}

.genres_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 600px;
  margin-top: 8px;
}

.genres_names {
  margin-right: 15px;
  margin-top: 8px;
  color: hsla(0, 0%, 100%, 0.48);
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease;
}

.genres_names:hover {
  color: #fff;
  
}

.input_btn {
  display: block;
  width: 24px;
  height: 24px;
  opacity: 0.5;
  font-size: 0;
  line-height: 1;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 center;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.3s ease 0s;
  position: absolute;
  top: 5px;
  right: 20px;
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2248%22%20height%3D%2224%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M38.7%2013.5l-.2.3a6%206%200%2010-.6.6l-.6.4%204.7%204.5a1%201%200%20001.3-1.3l-4.6-4.5zM34%2014a4.1%204.1%200%20110-8.3%204.1%204.1%200%20010%208.3z%22%20fill%3D%22%23B6B6B6%22%2F%3E%3Cpath%20d%3D%22M14.7%2013.5l-.2.3a6%206%200%2010-.6.6l-.6.4%204.7%204.5a1%201%200%20001.3-1.3l-4.6-4.5zM10%2014a4.1%204.1%200%20110-8.3%204.1%204.1%200%20010%208.3z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E);
}

.input_btn:hover {
  opacity: 1;
}
.input_block input{
  position: relative;
}

.item{
    background-color: brown;
    width: 400px;
    height: auto;
    position: absolute;
    z-index: 101;
    right: 350px;
    top: 50px;
}
.item li{
  list-style: none;
  text-decoration: none;
}
a{
  list-style: none;
  text-decoration: none;
  color: black;
}