main {
  border-bottom: 1px solid grey;
}

.perviyBlock {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.opisanie {
  width: 50%;
  margin-left: 40px;
  color: white;
}

.img {
  margin-left: -155px;
  width: 300px;
  height: 444px;
}

.img img{
  width: 300px;
  height: 444px;
}

.vtoroyBlock {
  display: flex;
  justify-content: center;
}

.params {
  margin-left: -142px;
  color: white;
}

.params2 {
  width: 50%;
  margin-left: 40px;
}

.text {
  width: 40%;
  margin-left: -10px;
  position: absolute;
  top: 500px;
  font-size: 18px;
  color: white;
}

.player {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.ocenka {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.ocenka button {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.ocenka span {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: 1px solid black;
  font-size: 24px;
  background-color: #423280;
  color: #fff;
}

.like {
  margin-right: 20px;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  color: white;
  background-color: #423280;
}

.like:active {
  background-color: #242131;
}

.dislike {
  color: white;
  background-color: #423280;
  border: none;
  margin-left: 20px;
  font-size: 18px;
}

.dislike:active {
  background-color: #242131;
}

.reiting {
  text-align: center;
  font-size: 18px;
  align-items: center;
  display: flex;
}

.filmComment {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

